Repository Twilight-Fortress-SS13/Twilight-Axis, pull requests merged in 2025-08, with the labels that each got.

#28 Плавная смена дня и ночи.
  _maps/map_files/dun_manor/smallforest.dmm
  _maps/map_files/otherz/rogueworld.dmm
  _maps/map_files/rockhill/rockhill.dmm
  code/__DEFINES/roguetown.dm
  code/__HELPERS/time.dm
  code/controllers/subsystem/particle_weather_outdoors.dm
  code/datums/pollution.dm
Labels: Тестмердж

#31 Подкласс храмовника роги
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  modular_twilight_axis/code/game/objects/items/rogueitems/ceramics.dm
  modular_twilight_axis/code/game/objects/items/rogueweapons/melee/knives.dm
  modular_twilight_axis/code/modules/clothing/rogueclothes/mask.dm
  modular_twilight_axis/code/modules/jobs/job_types/roguetown/church/templar.dm
  modular_twilight_axis/code/modules/roguetown/roguecrafting/ceramics.dm
  modular_twilight_axis/icons/roguetown/clothing/masks.dmi
  modular_twilight_axis/icons/roguetown/clothing/onmob/masks.dmi
  modular_twilight_axis/icons/roguetown/items/cooking.dmi
  modular_twilight_axis/icons/roguetown/weapons/32.dmi
  roguetown.dme
Labels: Тестмердж

#39 Traveltile rework azureport
  code/_onclick/click.dm
  code/game/objects/structures/traveltile.dm
  code/modules/mob/living/ambush.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
Labels: Тестмердж, Code

#45 14.08.2025 perenos
  _maps/map_files/dun_world/dun_world.dmm
  code/__DEFINES/traits.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/plane_master.dm
  code/controllers/subsystem/rogue/treasury.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/game/objects/items/rogueitems/bait.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueweapons/intents.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/mob/dead/new_player/body_markings/construct_plating.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/construct/constructm.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/status_procs.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/rogue.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguemachine/mail.dm
  icons/mob/body_markings/construct_eyes.dmi
  icons/mob/body_markings/construct_heads.dmi
  icons/mob/body_markings/construct_plating.dmi
  icons/roguetown/clothing/storage.dmi
  icons/roguetown/items/misc.dmi
Labels: Code, Sprite, Mapping

#50 17.08.2025 perenos
  code/__DEFINES/roguetown.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/filters.dm
  code/_onclick/hud/plane_master.dm
  code/datums/gods/faiths/divine_pantheon.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  code/game/area/roguetownareas.dm
  code/game/atoms.dm
  code/game/objects/items/rogueitems/books.dm
  code/game/objects/items/rogueitems/inquisitionrelics.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/church/martyr.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/mob/living/overhead_effects.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/spell_types/divine/projectiles_single/divine_blast.dm
  icons/mob/overhead_effects.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/weapons/shield_heraldry.dmi
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  strings/bibble.txt
  strings/decanomicon.txt
  strings/newdawn.txt
  strings/visage.txt
Labels: Code, Sprite, Balance

#65 Fireball charge time 25 -> 15. 2 Firestacks on hit
  code/modules/spells/spell_types/wizard/projectiles_aoe/fireball.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/greater_fireball.dm
Labels: Тестмердж

#72 Perenos
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/admin/admin_verbs.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/client/border_control.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/manual_donator.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forlorn.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/rumaclan.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/seonjang.dm
  modular_azurepeak/code/game/objects/items/surgery_bag.dm
  modular_azurepeak/icons/obj/items/scabbard.dmi
  modular_azurepeak/virtues/utility.dm
  roguetown.dme
Labels: Code, Balance

#13 [MOD] Lore
  code/datums/gods/_patron.dm
  code/datums/gods/patrons/atheism.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/say.dm
  modular_twilight_axis/lore/code/gods/cult_of_salvation.dm
  modular_twilight_axis/lore/code/gods/divine_pantheon.dm
  modular_twilight_axis/lore/code/gods/inhumen_pantheon.dm
  modular_twilight_axis/lore/code/gods/old_god.dm
  modular_twilight_axis/lore/code/jobs/job_descs.dm
  modular_twilight_axis/lore/code/objects/books.dm
  modular_twilight_axis/lore/code/objects/objects_desc.dm
  modular_twilight_axis/lore/code/objects/ritechalk.dm
  modular_twilight_axis/lore/code/objects/ritualcircles.dm
  modular_twilight_axis/lore/code/tips/time.dm
  modular_twilight_axis/lore/strings/psysect1.txt
  modular_twilight_axis/lore/strings/psysect2.txt
  modular_twilight_axis/lore/strings/psysect3.txt
  modular_twilight_axis/lore/strings/timechangetips.txt
  roguetown.dme
Labels: Тестмердж, Code, Balance, Перевод

#84 29.08.2025 Perenos
  code/_globalvars/special_traits.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Code, Balance

#78 Adds a Heretic subclass: Spy
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
Labels: Тестмердж, Code, Balance

#86 31.08.2025 Perenos
  code/datums/mob_descriptors/mob_descriptor.dm
  code/modules/cargo/packsrogue/merchant/apparel.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
  code/modules/jobs/job_types/roguetown/youngfolk/vagabond/wanted.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living_descriptors.dm
  code/modules/roguetown/roguemachine/bounty.dm
  code/modules/roguetown/roguestock/import.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Code, Balance

#67 New kazengite hat
  code/modules/jobs/job_types/roguetown/mercenaries/classes/seonjang.dm
  modular_azurepeak/code/datums/loadout.dm
  modular_twilight_axis/code/modules/clothing/rogueclothes/headwear/hats.dm
  modular_twilight_axis/icons/roguetown/clothing/head.dmi
  modular_twilight_axis/icons/roguetown/clothing/onmob/head.dmi
  roguetown.dme
Labels: Code, Balance
