Repository Twilight-Fortress-SS13/Twilight-Axis, pull requests merged in 2025-10, with the labels that each got.

#176 Gambler fix
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/drunkard.dm
Labels: Code, Balance

#168 Делаем жизнь жителя-кузнеца более удобной со старта.
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
Labels: Тестмердж, Code, Balance

#180 Port Vanderlin 2838 - Load Client Music Lag.
  code/__HELPERS/files.dm
  code/__HELPERS/text.dm
  code/controllers/subsystem/sounds.dm
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
Labels: Тестмердж, Code

#187 02.10.2025 Perenos
  code/modules/jobs/job_types/_job.dm
Labels: Code

#188 Adds Fire Resistance potion
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_cauldron_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_grind_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
  code/modules/roguetown/roguecrafting/alchemy/potionbuffs.dm
  code/modules/roguetown/roguecrafting/alchemy/reagents.dm
  icons/roguetown/misc/alchemy.dmi
Labels: Тестмердж, Code, Sprite

#192 Actually fix level up logic this time.
  code/datums/sleep_adv/sleep_adv.dm
Labels: Тестмердж, Code

#182 Adds new vice - Unintelligible
  code/datums/character_flaw/_character_flaw.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
Labels: Тестмердж, Code, Balance
