Repository Twilight-Fortress-SS13/Twilight-Axis, pull requests merged in 2025-09, with the labels that each got.

#97 Adds balloon alerts on parry / dodge to combat aware virtue
  code/modules/mob/living/combat/dodge.dm
  code/modules/mob/living/combat/parry.dm
Labels: Тестмердж, Code

#100 05.09.2025 Perenos
  code/game/objects/items/rogueitems/coins.dm
Labels: Code

#74 ВКЛЮЧИЛ ОБРАТНО РЕСУРСЫ.
  code/__DEFINES/_tick.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/stoplag.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/other_mobs.dm
  code/datums/gods/patrons/old_god.dm
  code/game/objects/effects/effect_system/effects_explosion.dm
  code/game/objects/structures/dungeontools.dm
  code/game/objects/structures/roguetown/gate.dm
  code/game/world.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/roguetown/villain/ascendant/ascendant_altar.dm
  code/modules/antagonists/roguetown/villain/maniac/maniac.dm
  code/modules/antagonists/roguetown/villain/unbound_deathknight.dm
  code/modules/cargo/supplypod.dm
  code/modules/client/client_procs.dm
  code/modules/clothing/clothing.dm
  code/modules/droning/droning.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/carbon/spirit/combat.dm
  code/modules/mob/living/carbon/spirit/spirit.dm
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/behemoth.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/crawler.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/sprite.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/imp.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/void/obelisk.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/void/voiddragon.dm
  code/modules/roguetown/roguemachine/bounty.dm
  code/modules/roguetown/roguemachine/lottery.dm
  code/modules/roguetown/roguemachine/questing/questing_landmarks.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/organ_internal.dm
  modular/Creechers/code/trufflepig.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  modular_twilight_axis/code/datums/sexcon/sexcon_reagents.dm
  roguetown.dme
Labels: Тестмердж, Code

#107 Necran Revival Ritual - The Toll
  code/_onclick/item_attack.dm
  code/datums/stress/negative_events.dm
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
  icons/roguetown/items/natural.dmi
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Тестмердж, Code, Sprite

#108 Add unrevivable as a trait + charpref toggle
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/character_flaw/_character_flaw.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living.dm
  code/modules/spells/roguetown/acolyte/astrata.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/eora/eora_reagents.dm
  code/modules/spells/roguetown/acolyte/resurrect.dm
  code/modules/surgery/revive_chair.dm
  code/modules/surgery/surgeries_hearth/revival.dm
Labels: Тестмердж, Code

#105 Changes Unknown to Descriptors
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/mouseover.dm
  code/datums/mob_descriptors/descriptors/height.dm
  code/datums/mob_descriptors/descriptors/prominent.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/modules/client/descriptors/descriptor_choice.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Тестмердж

#113 Ports culinary preferences
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/food.dm
  code/_globalvars/food_preferences.dm
  code/datums/stress/positive_events.dm
  code/game/gamemodes/objective_items.dm
  code/game/objects/structures/apiary.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_culinary.dm
  code/modules/client/preferences_savefile.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/holiday/halloween.dm
  code/modules/mob/living/bloodcrawl.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  roguetown.dme
Labels: Code, Mapping

#81 Кноты со Скарлета
  code/__DEFINES/DNA.dm
  code/__HELPERS/round_statistics.dm
  code/datums/sexcon/sex_action.dm
  code/datums/sexcon/sex_actions/sex/anal_sex.dm
  code/datums/sexcon/sex_actions/sex/throat_sex.dm
  code/datums/sexcon/sex_actions/sex/vaginal_sex.dm
  code/datums/sexcon/sexcon.dm
  code/datums/storytellers/gods.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/emote.dm
  modular_twilight_axis/firearms/code/weapons/wounds_logic.dm
  sound/misc/mat/pop.ogg
  sound/vo/male/tomscream.ogg
Labels: Тестмердж, Code, Sound

#79 Revert "NPC AI leaping fixes and tweaks"
  code/__HELPERS/AStar.dm
  code/__HELPERS/game.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
Labels: Тестмердж, Code

#91 Skeleton & Lich Mini Rework - No more Infinite Stamina & Energy, Gains Bready, gears & summon greater undead rework
  code/__DEFINES/traits.dm
  code/_onclick/click.dm
  code/game/objects/items/rogueweapons/rmb_intents.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/other/greater_skeleton.dm
  code/modules/jobs/job_types/roguetown/other/lich_skeleton.dm
  code/modules/mob/living/carbon/energystamina.dm
  code/modules/mob/living/carbon/human/npc/bog_deserters.dm
  code/modules/mob/living/carbon/human/npc/bum.dm
  code/modules/mob/living/carbon/human/npc/deranged_knight.dm
  code/modules/mob/living/carbon/human/npc/drow.dm
  code/modules/mob/living/carbon/human/npc/dwarfskeleton.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/highwayman.dm
  code/modules/mob/living/carbon/human/npc/lizardmen_dungeon.dm
  code/modules/mob/living/carbon/human/npc/militia.dm
  code/modules/mob/living/carbon/human/npc/orc/orc.dm
  code/modules/mob/living/carbon/human/npc/searaider.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton.dm
  code/modules/mob/living/carbon/human/npc/thief.dm
  code/modules/mob/living/carbon/human/npc/zizoconstruct.dm
  code/modules/spells/roguetown/necromancer.dm
  code/modules/spells/spell_types/undead/self/calcic_outburst.dm
  code/modules/spells/spell_types/undead/summon/raise_undead.dm
  roguetown.dme
Labels: Тестмердж, Code, Balance

#128 14.09.2025 Perenos
  code/__DEFINES/roguetown.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/items/beartraps.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/voicepacks/genfemale.dm
  code/modules/mob/living/carbon/human/voicepacks/genmale.dm
  code/modules/mob/living/emote.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_armor.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_dragonhide.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  icons/mob/actions/roguespells.dmi
  roguetown.dme
Labels: Code, Sprite, Balance

#127 Iron Sprite Palette Swap
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/neck.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/onmob/wrists.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/wrists.dmi
  icons/roguetown/items/crafting.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/items/valuable.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/64x64_AZUREPEAK_LONGPACK.dmi
  icons/roguetown/weapons/ammo.dmi
  icons/roguetown/weapons/shield_heraldry.dmi
  icons/roguetown/weapons/tools.dmi
  modular_azurepeak/icons/obj/items/scabbard.dmi
Labels: Sprite

#129 [TM] Minecarts, rotational power, engineering goggles, chiseling in names, locking launchers, and Peddler sprite tweak.
  code/__DEFINES/MC.dm
  code/__DEFINES/components.dm
  code/__DEFINES/dcs/signals/signals_moveloop.dm
  code/__DEFINES/dcs/signals_atoms/appearance.dm
  code/__DEFINES/dcs/signals_atoms/signals_atom_movable.dm
  code/__DEFINES/directional.dm
  code/__DEFINES/movement.dm
  code/__DEFINES/qdel.dm
  code/__DEFINES/rotation.dm
  code/__DEFINES/rotational_defines.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/type_processing.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/mouseover.dm
  code/controllers/subsystem/movement/minecarts.dm
  code/controllers/subsystem/movement/move_manager.dm
  code/controllers/subsystem/movement/movement_loop.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/elements/noisy_movement.dm
  code/datums/rotation_network_data.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/effect_system/particle_defines.dm
  code/game/objects/items.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/minecart_system/minecart.dm
  code/game/objects/minecart_system/minecart_rail.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/roguetown/redstone.dm
  code/game/objects/structures/traveltile.dm
  code/game/rotational_objects/horizontal_gearbox.dm
  code/game/rotational_objects/item_rotation_contraption.dm
  code/game/rotational_objects/rotation_shaft.dm
  code/game/rotational_objects/rotational_speed_data.dm
  code/game/rotational_objects/vertical_gearbox.dm
  code/game/rotational_objects/waterwheel.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/spells/spell_types/skills/invoked_single_target/engineeranalyze.dm
  icons/obj/rotation_machines.dmi
  icons/obj/track.dmi
  icons/roguetown/misc/machines.dmi
  icons/roguetown/misc/shafts_cogs.dmi
  icons/roguetown/misc/waterwheel.dmi
  roguetown.dme
  sound/misc/ratchet.ogg
  sound/tank_treads.ogg
Labels: Тестмердж, Code, Sprite, Sound

#130 New Spells for Zizo Magicians/Heretic/Necromancer + Small Rebalance
  code/datums/ai/controllers/undead.dm
  code/datums/ai/controllers/wolf_undead.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/necromancer.dm
  code/modules/spells/roguetown/necromancer.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_saiga.dm
  modular_azurepeak/code/modules/mob/living/simple_animal/rogue/creacher/undead_wolf.dm
  modular_azurepeak/code/modules/spells/minion_order.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/zizo.dm
  roguetown.dme
Labels: Тестмердж, Code, Balance

#135 MiaCraft 2 - UI Improvement & Repeatable Crafting
  code/controllers/subsystem/skills.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/modules/crafting/recipe_books/recipe_books_list.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  code/modules/roguetown/roguecrafting/cooking.dm
  code/modules/roguetown/roguecrafting/crafting/weapons_tools.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/roguetown/roguecrafting/farming.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather/leather.dm
  code/modules/roguetown/roguecrafting/leather/leather_armor_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_container_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_footwear_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_unique_recipes.dm
  code/modules/roguetown/roguecrafting/leather/reinforcement.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/weaving.dm
  code/modules/roguetown/roguejobs/mages/arcana_crafting.dm
  modular_azurepeak/code/datums/slapcrafting.dm
  roguetown.dme
  tgui/packages/tgui/interfaces/MiaCraft.js
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Тестмердж, Code

#140 18.09.2025 Perenos
  code/datums/chatmessage.dm
  code/game/objects/effects/glowshroom.dm
  code/modules/antagonists/roguetown/villain/dreamwalker.dm
  code/modules/antagonists/roguetown/villain/dreamwalker/dreamwalker_spells.dm
  code/modules/mob/living/ambush.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/npc/_npc.dm
  code/modules/mob/living/simple_animal/examine.dm
  code/world.dm
  icons/mob/actions/roguespells.dmi
  icons/roguetown/weapons/ammo.dmi
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  roguetown.dme
Labels: Code, Sprite

#145 Ligula / Ligulae -> Dram / Drams
  code/__HELPERS/reagents.dm
Labels: Тестмердж, Code

#148 21.09.2025 Perenos
  code/_compile_options.dm
  code/modules/client/client_procs.dm
  code/modules/roguetown/roguemachine/bathmaster.dm
Labels: Code

#142 Frosted cakes and new rices
  code/_globalvars/food_preferences.dm
  code/datums/pollutants/foods.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/datums/stress/positive_events.dm
  modular/Neu_Food/code/cooked/cooked_cakes.dm
  modular/Neu_Food/code/cooked/cooked_rice.dm
  modular/Neu_Food/code/others/dairy.dm
  modular/Neu_Food/icons/cooked/cooked_cakes.dmi
  modular/Neu_Food/icons/cooked/cooked_rice.dmi
  modular/Neu_Food/icons/others/dairy.dmi
  modular/Neu_Food/icons/raw/raw_cakes.dmi
Labels: Тестмердж, Code

#150 New Grenzelhoftian Mercenary: Gefechtsgelehrter (THE REAL BATTLE SCHOLAR)
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grenzelhoft.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/fireball_artillery.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  icons/mob/actions/roguespells.dmi
  modular_azurepeak/code/game/objects/items/magic_staffs.dm
  modular_azurepeak/icons/obj/items/staffs.dmi
  roguetown.dme
Labels: Тестмердж, Code, Sprite, Balance

#160 27.09.2025 Perenos
  code/game/objects/items.dm
  modular_azurepeak/code/datums/loadout.dm
  modular_azurepeak/code/game/objects/items/donator_fluff_items.dm
  modular_azurepeak/code/game/objects/items/donator_modkit.dm
Labels: Code

#161 27.09.2025 Perenos
  code/controllers/subsystem/processing/mousecharge.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/spells/roguetown/acolyte/resurrect.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/mime.dm
  icons/mob/rogueheat.dmi
  modular_azurepeak/code/datums/loadout.dm
  modular_azurepeak/code/game/objects/items/donator_fluff_items.dm
  modular_azurepeak/code/game/objects/items/donator_modkit.dm
Labels: Code, Sprite

#162 27.09.2025 Perenos
  code/_onclick/hud/screen_objects.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/clothing/rogueclothes/armor/brigandine.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/headwear/helmet/light_helmet.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  modular_azurepeak/code/game/objects/items/donator_modkit.dm
Labels: Code, Balance

#154 [Smithing] New feature - Casting
  code/__DEFINES/components.dm
  code/game/objects/lighting/rogue_fires.dm
  code/modules/farming/bin.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/blades.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/blacksmith/casting.dm
  code/modules/roguetown/roguejobs/blacksmith/smith_components.dm
  icons/roguetown/items/anvil_casting.dmi
  roguetown.dme
  tgui/packages/tgui/interfaces/Anvil.tsx
Labels: Тестмердж, Code, Sprite

#165 Tgui Inputs (#3910)
  code/__DEFINES/tgui_bits.dm
  code/controllers/subsystem/media_track.dm
  code/datums/components/crafting/crafting.dm
  code/modules/client/customizer/customizer_choice.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_customizers.dm
  code/modules/client/verbs/typing.dm
  code/modules/mob/say.dm
  code/modules/tgui/helpers.dm
  code/modules/tgui/states/always.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/checkboxes.dm
  code/modules/tgui_input/color.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/multilinepref.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/say_modal/modal.dm
  code/modules/tgui_input/say_modal/speech.dm
  code/modules/tgui_input/text.dm
  html/typing_indicator.html
  modular_hearthstone/code/interface/LOOC.dm
  roguetown.dme
  tgui/packages/common/colorpicker.ts
  tgui/packages/tgui/components/Interactive.tsx
  tgui/packages/tgui/components/NanoMap.tsx
  tgui/packages/tgui/components/Pointer.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/interfaces/common/Loader.tsx
  tgui/packages/tgui/layouts/Layout.tsx
  tgui/packages/tgui/layouts/TitleBar.tsx
  tgui/packages/tgui/layouts/Window.tsx
  tgui/packages/tgui/styles/themes/azure_default.scss
Labels: Code

#126 Assorted bugfixes
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  modular_twilight_axis/code/game/objects/items/rogueweapons/melee/swords.dm
  modular_twilight_axis/firearms/code/jobs/afreet.dm
  modular_twilight_axis/firearms/code/jobs/corsair.dm
  modular_twilight_axis/firearms/code/jobs/grenzelhoft_jager.dm
  modular_twilight_axis/firearms/code/jobs/gunslinger.dm
  modular_twilight_axis/firearms/code/jobs/maa_grenadier.dm
  modular_twilight_axis/firearms/code/jobs/puritan.dm
  modular_twilight_axis/firearms/code/weapons/ammo.dm
  modular_twilight_axis/firearms/code/weapons/firearm.dm
  modular_twilight_axis/firearms/code/weapons/runelock.dm
  modular_twilight_axis/firearms/icons/barker.dmi
Labels: Code, Balance
